<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
    {% if page.name == "index.html" %}
      {{ site.title }}{% if site.description %} &middot; {{ site.description }}{% endif %}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
    </title>
    <link rel="shortcut icon" href="{{ 'assets/favicon.ico' | relative_url }}">
    <link rel="stylesheet" href="{{ 'assets/reset.css' | relative_url }}">
    <link rel="stylesheet" href="{{ 'assets/stylesheet.css' | relative_url }}">
  </head>
  <body>
    <header class="container mt-1 mb-3 pb-1 border-bottom">
      <a href="/" alt="" class="">{{ site.title }}</a>
    </header>
    <main>
      {{ content }}
    </main>
    <footer class="container mt-3 mb-3 pt-1 border-top">
      <small>footer</small>
    </footer>
  </body>
</html>
