<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
    {% if page.name == "index.html" %}
      {{ site.title }}{% if site.description %} &middot; {{ site.description }}{% endif %}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
    </title>
    <link rel="shortcut icon" href="{{ 'assets/favicon.ico' | relative_url }}">
    <link rel="stylesheet" href="{{ 'assets/normalize.css' | relative_url }}">
    <link rel="stylesheet" href="{{ 'assets/stylesheet.css' | relative_url }}">
  </head>
  <body>
    <header class="container mb-2 pt-1">
      <div class="border-bottom border-thick border-dark pb-1">
        <a href="/" alt="" class="text-decoration-none text-dark">{{ site.title }}</a>
      </div>
    </header>
    <main>
      {{ content }}
    </main>
    <footer class="container mt-2 mb-2">
      <div class="border-top border-dark pt-1">
        <ul class="list-style-none m-0 p-0">
          <li><a href="mailto:mhmdilfaj@gmail.com" alt="" class="text-decoration-none">email</a></li>
          <li><a href="https://wa.me/+6281296827422" alt="" class="text-decoration-none">whatsapp</a></li>
          <li><a href="https://instagram.com/mhmdilfaj" alt="" class="text-decoration-none">instagram</a></li>
        </ul>
      </div>
    </footer>
  </body>
</html>
